#app,
body,
html {
    height: 100%;
}

body {
    background-color: #f7f7f7;
    font-size: 14px;
}

.ml-2 {
    margin-left: 2px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-20 {
    margin-left: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

.hover {
    cursor: pointer;
}

.page-account {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.el-card {
    border: none;
}

.el-popconfirm__main {
    margin: 10px 0;
}
.el-image-viewer__close{
    color: white;
}

/*fade*/
.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.fade-transform-enter {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.fade-transform-leave-to {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
