@import "./variables.scss";
@import "./transition.scss";
@import "./base.scss";

@mixin scrollbar {
  max-height: 88vh;
  margin-bottom: 0.5vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, 0.3);
  }
}

@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #f8fafc;
  }
}

img {
  object-fit: cover;
}

a {
  color: $base-color-blue;
  text-decoration: none;
  cursor: pointer;
}

#app,
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7f7f7;
  font-size: 14px;
}

html {
  body {
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "PingFang SC", Arial, "Microsoft YaHei", sans-serif;
    font-size: $base-font-size-default;
    background: #f6f8f9;

    @include base-scrollbar;

    div {
      @include base-scrollbar;
    }
  }
}
.hover {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-s {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-c {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.hide-x {
  overflow-x: hidden;
}

/**********************************/
.page-account {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.el-popconfirm__main {
  margin: 10px 0;
}

.el-image-viewer__close {
  color: white;
}

.el-upload-list__item {
  img {
    object-fit: cover;
  }
}

.el-select-dropdown__item {
  padding: 0 10px;
}

.el-loading-mask {
  z-index: 99;
}

.el-message {
  width: auto;
  min-width: unset;
  padding: 15px 20px;
}

.el-dialog__body {
  padding: 0px;
}

.tool-button + .tool-button {
  margin-left: 10px;
}
.el-main {
  padding: 0;
}

