#app,
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f7f7f7;
    font-size: 14px;
}

.ml-2 {
    margin-left: 2px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.m-10 {
    margin: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.m-15 {
    margin: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

.hover {
    cursor: pointer;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-s {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-c {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.flex-c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}



/**********************************/
.page-account {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}
.el-card {
    border: none;
}

.el-popconfirm__main {
    margin: 10px 0;
}

.el-image-viewer__close {
    color: white;
}

.el-upload-list__item {
    img {
        object-fit: cover;
    }
}

.el-select-dropdown__item {
    padding: 0 10px;
}
.el-loading-mask{
    z-index: 99;
}
.el-message{
    width: auto;
    min-width: unset;
    padding: 15px 20px;
}

/*************************************************/

/*fade*/
.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.fade-transform-enter {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.fade-transform-leave-to {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}
